<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--import thymeleaf namespace into the page-->
<head>
<meta charset="ISO-8859-1">
<title>Main Menu</title>

<!-- Call css file for page styling -->
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">
</head>
<body>

	<h1>Inventory List</h1>
	
	<!-- if the list is empty  -->
	<div th:if="${#lists.isEmpty(session.inventory)}" th:text="'No Inventory Items'">
	</div>

    <!-- if the list is not empty   -->
	<div th:unless="${#lists.isEmpty(session.inventory)}">  <!-- test if session.inventory exists, if exists test if it contains any item -->
		<table>
		<tr><th>ID</th><th>Item Name</th><th>Quantity</th><th>Price</th></tr>
		<tr th:each="i : ${session.inventory}">
			<td th:text="${i.itemId}"></td>
			<td th:text="${i.itemName}"></td>
			<td th:text="${i.quantity}"></td>
			<td th:text="${#numbers.formatCurrency(i.price)}"></td>
	
		</tr>
		</table>
	
	</div>
</body>
</html>